spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://idp.felleskomponent.no/nidp/oauth/nam

novari:
  flyt:
    resource-server:
      security:
        api:
          external:
            enabled: true
            authorized-source-application-ids:
              - 6
