fint:
  application-id: fint-flyt-hmsreg-gateway

logging:
  level:
    no.fintlabs.cache.ehcache.FintEhCacheEventLogger: WARN

server:
  error:
    include-message: always
  max-http-request-header-size: 40KB

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
      - flyt-file-web-client

  http:
    codecs:
      max-in-memory-size: 100MB

  output:
    ansi:
      enabled: always